@font-face {
  font-family: "BONX-Medium";
  src: url("~@/assets/fonts/BONX-Medium.otf") format("opentype");
}

@font-face {
  font-family: "BONX-AltMedium";
  src: url("~@/assets/fonts/BONX-AltMedium.otf") format("opentype");
}

@font-face {
  font-family: "BONX-TubeMedium";
  src: url("~@/assets/fonts/BONX-TubeMedium.otf") format("opentype");
}

@font-face {
  font-family: "BONX-Silhouette";
  src: url("~@/assets/fonts/BONX-Silhouette.otf") format("opentype");
}

@font-face {
  font-family: "BONX-Frame";
  src: url("~@/assets/fonts/BONX-Frame.otf") format("opentype");
}
